@model WizardMVC.Models.BasicDetails

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BasicDetails", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h1>Step 1 : Basic Details</h1>
                <fieldset>
                    @Html.LabelFor(m => m.CompanyName, "Company Name")
                    @Html.ValidationMessageFor(m => m.CompanyName, "Please enter Company Name.", new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                </fieldset>
                <fieldset>
                    <br />
                    <input type="submit" name="nextBtn" value='Next' class="btn btn-primary" />
                </fieldset>
            </div>
        </div>
    </div>
}